doctype html
html(lang=en)
  head
    include inc/head.pug
  body
    include inc/nav.pug

    .container
      h1 Single Elimination
      - var rounds = [{num: 8, label: 'Quarterfinals'}, {num: 4, label: 'Semifinals'}, {num: 2, label: 'Finals'}]
      ul
        each round in rounds
          li: h2: a(href='/round/elimination/' + round.num) #{round.label}

    include inc/foot.pug
