extends layout.pug

block content
  h1 #{rounds.title}
  .list-group
    each round in rounds
      a.list-group-item(href='/round/'+ round.roundType + '/' + round.roundNumber) #{round.label}
    else
      p.list-group-item No rounds have been created.
