extends layout.pug

block content
  h1 #{rounds.title}
  ul
    each round in rounds
      li: h2: a(href='/round/'+ round.roundType + '/' + round.roundNumber) #{round.label}
    else
      li No rounds have been created
